<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <configSections>         
     </configSections>
   <appSettings>
      <add key="bushPictureLocation" value="\\147.46.120.225\Users\데이터베이스연구\bushDataBase\pictures\"/>
      <add key="documentsPictureLocation" value="\\147.46.120.225\Users\데이터베이스연구\documentDataBase\pictures\"/>
      <add key="bushFileLocation" value="\\147.46.120.225\Users\데이터베이스연구\bushDataBase\files\"/>
      <add key="documentsFileLocation" value="\\147.46.120.225\Users\데이터베이스연구\documentDataBase\files\"/>
   <add key="hikiPictureLocation" value="\\147.46.120.225\Users\데이터베이스연구\hikiDataBase\pictures\"/>
    </appSettings>
    <connectionStrings>       
      
        <add name="mocha_connection" 
            connectionString="server=147.46.120.225;user id=root;  password=root;persistsecurityinfo=True;database=mocha_db"
            providerName="MySql.Data.MySqlClient" />   
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>